.topbar {
  background-color: #3f51b5 !important;
}

.topbar-title {
  flex-grow: 1;
}

.left-menu {
  background: white;
  height: auto;
}

.logout-btn {
  position: absolute !important;
  bottom: 20px;
  width: 200px !important;
}

.navbar-link {
  padding: 10px 30px 10px 15px;
  color: #6E788F;
  font-size: 15px;
  font-weight: bold;
}

.navbar-link.active {
  color: #6563FF;
}

.menu-container.MuiList-root {
  margin-top: 20px;
  width: 200px;
  height: 100%;
  position: relative;
  padding: 0 1em;
}

.padded-divider.MuiDivider-root {
  margin: 0 15px;
}

#navbar {
  width: 100%;
  background-color: white;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
