.tile {
  background: #ffffff;
  box-shadow: 0 1px 1px #e0e5ec, 0 5px 6px #a4aab22b;
  border-radius: 6px;
  margin-bottom: 1em;
}

.personal-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 10px !important;
}

.no-wrap {
  white-space: nowrap;
}

.font-bold {
  font-weight: bold !important;
  font-size: 18px;
  color: #4C4F56;
}

.font-size-mini {
  font-size: 9pt;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.7em;
}

.font-size-large {
  font-size: 19pt;
}

.vertical-squeeze {
  line-height: 22px;
  white-space: nowrap;
}

.spacing {
  margin-left: 25px;
}

.arrow-cell {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.arrow-icon {
  width: 20px;
}

.expandable-row {
  cursor: pointer;
}

.collapsable-row {
  display: table-row;
  opacity: 1;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: display .3s linear, opacity .3s linear;
  transition: display .3s linear, opacity .3s linear;
}

.collapsable-table-container tr.MuiTableRow-root td {
  background-color: #eff1f5;
}

.small-table-head, .small-table-row {
  padding: 12px !important;
}

.small-table-head:first-child, .small-table-row:first-child {
  padding-left: 20px !important;
}

.small-table-row {
  font-size: 14px !important;
}

.action-cell {
  padding-left: 0 !important;
}

.smaller-font {
  font-size: 14px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-left-35 {
  padding-left: 35px !important;
}

.expand-col {
  display: flex;
  align-items: center;
}

.toggle-row {
  cursor: pointer;
}

.grey-background {
  background-color: #f9f9f9;
  overflow: hidden !important;
}

.details-container {
  color: #4C4F56;
  padding: 10px;
}

.loader-div {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
